.button {
  font: inherit;
  border: 1px solid #000035;
  border-radius: 3px;
  background: #000096;
  color: white;
  cursor: pointer;
  padding: 0.3rem 1rem;
}

.button:hover,
.button:active {
  background: #1b1bb6;
  border-color: #000096;
}

.button:focus {
  outline: none;
}
